# Create Sharing Clinet

In [1]:
import delta_sharing

profile_file = "../creds/profile.json"
client = delta_sharing.SharingClient(profile_file)

# List Tables

In [2]:
client.list_all_tables()

[Table(name='table1', share='share1', schema='schema1'),
 Table(name='table2', share='share1', schema='schema1')]

# Load Tables

In [3]:
table_url = profile_file + "#share1.schema1.table1"
delta_sharing.load_as_pandas(table_url, limit=10)

,serial_number,country,total_cases,total_deaths,total_recovered,active_cases,total_test,population
0,1,USA,"104,196,861","1,132,935","101,322,779","1,741,147","1,159,832,679","334,805,269"
1,2,India,"44,682,784","530,740","44,150,289","1,755","915,265,788","1,406,631,776"
2,3,France,"39,524,311","164,233","39,264,546","95,532","271,490,188","65,584,518"
3,4,Germany,"37,779,833","165,711","37,398,100","216,022","122,332,384","83,883,596"
4,5,Brazil,"36,824,580","697,074","35,919,372","208,134","63,776,166","215,353,593"
5,6,Japan,"32,588,442","68,399","21,567,425","10,952,618","92,144,639","125,584,838"
6,7,S. Korea,"30,197,066","33,486","29,740,877","422,703","15,804,065","51,329,899"
7,8,Italy,"25,453,789","186,833","25,014,986","251,970","265,478,247","60,262,770"
8,9,UK,"24,274,361","204,171","24,020,088","50,102","522,526,476","68,497,907"
9,10,Russia,"21,958,696","395,108","21,356,008","207,580","273,400,000","145,805,947"