# Create Sharing Clinet

In [1]:
import delta_sharing

profile_file = "../creds/profile.json"
client = delta_sharing.SharingClient(profile_file)

# List Tables

In [2]:
client.list_all_tables()

[Table(name='table1', share='share1', schema='schema1')]

# Load Tables

In [3]:
table_url = profile_file + "#share1.schema1.table1"
delta_sharing.load_as_pandas(table_url, limit=10)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
5,male,group C,some high school,standard,none,68,57,54
6,female,group E,associate's degree,standard,none,82,83,80
7,female,group B,some high school,standard,none,46,61,58
8,male,group C,some high school,standard,none,80,75,73
9,female,group C,bachelor's degree,standard,completed,57,69,77